*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.otp-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:0 auto;
    padding:15px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.otp-container .title{
    color:rgb(8, 8, 218);
    font-weight:bolder ;
    margin-top:30px;
    padding:14px;
    font-size:24px;
}
.otp-container .form-otp{
    margin-bottom:10px;

}
.otp-container .form-otp form input{
    padding:10px;
    width:300px;
    border-radius:5px;
    font-size: 14px;
    outline:none;
    box-shadow:0px 0px 3px 0px #202466;
}
.otp-container .form-otp form button{
    margin-top:21px;
    width:120px;
    padding:10px;
    border-radius: 5px;
    background-color:green;
    border :solid 1px green;
    color:white;
    font-size: 14px;
    font-weight: 500;
    transition:all ease 0.3s;
}
.otp-container .form-otp form button:hover{
    cursor:pointer;
    background-color:rgb(16, 126, 16);
}
.otp-container  .text{
    font-size:14px;
    font-weight:500;
}
.otp-container .success{
    display : none;
    text-align: center;
}

.otp-container .error{
    display : none;
    text-align: center;
}
.otp-container .otp-container-2{
   
    margin-top:15px;
}
.otp-container .otp-container-2 .input-fields{
    margin:15px auto;
    box-shadow:0px 0px 5px 0px #202466;
    height:200px;
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.otp-container-2 .input-fields .input-num{
    width:200px;
    height:50px;
    outline:none;
    margin:10px;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
    box-shadow:0px 0px 5px 0px #202466;
}

.otp-container-2 .input-fields .input-num::-webkit-inner-spin-button,
.otp-container-2 .input-fields .input-num::-webkit-outer-spin-button
{
appearance:none;
}
.otp-container-2 div button{
    margin-top:7px;
    width:120px;
    padding:10px;
    border-radius: 5px;
    background-color:green;
    border :solid 1px green;
    color:white;
    font-size: 14px;
    font-weight: 500;
    transition:all ease 0.3s;
}
.otp-container-2 div button:hover{
    cursor:pointer;
    background-color:rgb(16, 126, 16);
}