.com-container{
    position:relative;
    margin-top : 60px;
    padding:10px;
    width:90%;
    min-height:80vh;
    margin: 60px 40px 40px 40px;
    box-shadow:0px 0px 3px 0px #202466;
    flex-wrap : wrap;
    overflow-y :scroll;
}
.com-container .semi-container-1{
  padding:10px;
  position:absolute;
  width:100%;
 
}

.com-container .semi-container-1 form input{
    width: 80%;
    padding:14px;
    font-size:14px;
    box-shadow:0px 0px 3px 0px #888bc5;
    border-radius:5px;
}
.com-container .semi-container-1 form input:focus{
    outline:none;
}

.com-container .semi-container-1 .usericon{
    position : absolute;
    left : 25px;
    top : 30px;
    padding-bottom: 15px;
}
.com-container .semi-container-1 form button{
    width:10%;
    margin:10px;
    padding:14px;
    border-radius: 5px;
    background-color: #009dff;
    color:white;
    font-size:14px;
    border:solid 1px #009dff;
}
.com-container .semi-container-1 form button:hover{
    cursor:pointer;
    outline:none;
}

.semi-container-2 p{
    background-color:#cccef0;
    padding:13px;
    font-size:14px;
     width:fit-content;
     border-radius : 5px;
     float:left;
     position : absolute;
     top :100px;
     left : 25px;
     margin:0 20px 0 0;
    white-space : pre-wrap;   /* to get space in the response */
}